{% extends "base.html" %}

{% block content %}
        <section class="content_block" id="our_story">{% include "includes/our_story.html" %}</section>

        <section class="image_block banner_one"><h2>WEDDING DETAILS</h2></section>

        <section class="content_block" id="info">{% include "includes/info.html" %}</section>

        <section class="image_block banner_two"><h2>LOCATION</h2></section>

        <section class="content_block" id="location">{% include "includes/location.html" %}</section>

        <section class="image_block banner_three"><h2>PHOTOS</h2></section>

        <section class="content_block" id="photos">{% include "includes/photos.html" %}</section>

        <section class="image_block banner_five"><h2>RSVP</h2></section>

        <section class="content_block" id="rsvp">{% include "includes/rsvp.html" %}</section>

        <section class="image_block banner_four"><h2>REGISTRY</h2></section>

        <section class="content_block" id="registry">{% include "includes/registry.html" %}</section>
{% endblock content %}