/* =VARIABLES
-------------------------------------------------------------- */
/*===== Colors =====*/
// $brown: #a79b85;
// $pink: #e8ceb3;
// $cream: #f4ecdf;
// $green_light: #b9cebd;
// $green: #97b1a6;
// $grey: #666666;

// Color Pallate Reference - http://pinterest.com/pin/20477373278606093/
// $blue: #a8bbb9;
// $blue_light: #d4e3de;
// $green: #a3b995;
// $cream: #f9ddb8;
// $orange: #eb7f65;
// $orange_light: #fbbd96;


// Color Pallate Option #3
// $purple: #6a5f70;
// $coral: #ffa89c;
// $grey: #666666;
// $grey_light: #d8cec5;

// Yet another color pallate option
$blue: #75869c;
$purple: #6a5f70;
$peach: #fee0c4;
$grey: #666666;
$grey_light: #d8cec5;


/*===== Fonts =====*/
$script_font: 'Engagement', cursive;
$header_font: 'Rokkitt', serif;


/*===== Dimensions =====*/
$rembase:     16;
$line-height: 24;


/*===== Grid =====*/
$gutter: 4%;


/*===== Elements & Effects =====*/
$bezier: cubic-bezier(0.6, 0, 0.4, 1);
$border: 3px solid $blue;
