/* ==========================================================================
   Font Styles
   ========================================================================== */
   
/*
Avenir:
	font-family: "Avenir Next W01 Light", sans-serif;
	font-family: "Avenir Next W01 Thin", sans-serif;
	font-family: "Avenir LT W02 85 Heavy", sans-serif;
	font-family: "Avenir LT W02 65 Medium", sans-serif;
	font-family: "AvenirNextW04-CondDemiI", sans-serif;

Adobe Garamond:
	font-family: "adobe-garamond-pro", Georgia, serif;
*/
