.column2 {
	@include clearfix();
	
	.column {
		@include rem-calc(padding, 1.5, 0);
		
		@include breakpoint(small) {
			width: 50% - $gutter;
			margin-right: $gutter*2;
			padding: 0;
			float: left;
			
			&:last-of-type {
				margin: 0;
			}
		}
	}
}

.column3 {
	@extend .column2;
	
	.column {
		// @include breakpoint(small) {
		// 	width: 50% - $gutter;
		// 	margin-right: $gutter*2;		
		// }

		@include breakpoint(small) {
			width: 33.333333333% - $gutter;
			margin-right: $gutter*1.5;		
		}
	}
}