/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Main Project Styles
   ========================================================================== */

/*
 *  Global Elements
 **/
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff for rem font sizing */
}

body {
  @include rem-calc(font-size, 1.6);
  // background: #fff;
  color: $grey;
}

img { max-width: 100%; }

h1, h2, h3,
h4, h5, h6 { color: #000; }

.content {
  @include rem-calc(max-width, 102.4);
  margin: auto;
}


/*
 *  Nav Section
 **/
nav[role="navigation"] {
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  background: $blue;

  ul {
    @include rem-calc(padding, 1.5, 2);
    margin: 0;
    position: relative;
    
    li {
      @include rem-calc(margin-right, 1.5);
      @include inline-block();
      // float: left;
      
      a {
        @include rem-calc(font-size, 1.8);
        @include rem-calc(letter-spacing, 0.1);
        color: $peach;
        font-family: $header_font;
        text-decoration: none;
        text-transform: uppercase;
      }

      &:last-of-type {
        @include rem-calc(right, 0.6);
        @include rem-calc(top, 1);
        @include rem-calc(padding, 0.5, 1.5);
        position: absolute;
        background: $peach;
        border-radius: 5px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        cursor: pointer;

        a {
          @include inline-block();
          width: 100%; height: 100%;
          color: #FFF;
        }
        &:hover { background: darken($peach, 5%); }
      }
    }
  }
}


/*
 *  Header Section
 **/
header {
  @include rem-calc(height, 55);
  background: $grey image-url("fields.jpg") center top no-repeat;
  // background-size: cover;
  background-size: 100% auto;
  background-attachment: fixed;
  color: #FFF;

  .content {
  	text-align: center;
  }

  .main_header {
  	@include rem-calc(padding, 4.5, 2.5);
  	@include inline-block();
   	background: rgba(0,0,0,0.4);
    // background: $blue;
  	border-radius: 225px;
  }
 
  h1 {
    @include rem-calc(font-size, 9.5);
    @include rem-calc(letter-spacing, 1);
    margin: 0;
    color: #fff;
    // color: $peach;
		font-family: $script_font;
		font-weight: normal;
    text-align: center;
    
    span {
      @include rem-calc(font-size, 7.5);
    }
  }
  .subtitle {
	  @include rem-calc(font-size, 2.2);
	  margin: 0;
    display: block;
	  color: #fff;
	  font-family: sans-serif;
	  font-weight: normal;
	  text-align: center;
  }

  .content {
    @include rem-calc(padding, 18, 0, 0);
    height: 100%;
    color: #fff;
  }
}



/*
 *  Content Section
 **/
.content_block {
  padding: 54px 5%;

  &:nth-of-type(4n+1),
  &:nth-of-type(4n+3) {
    background: $blue;

    h2 { color: $peach; }
    p { color: #fff; }
  }
  &:nth-of-type(4n+3) {
    background: $purple;
  }
  &:nth-of-type(4n+2),
  &:nth-of-type(4n+4) {
    background: #fff;
  }
  // &:nth-of-type(4n+4) {
  //   background: $peach;
  // }
}

.content {
  // @include rem-calc(padding, 2, 0);
  width: 92%;
  margin: auto;
  
  @include breakpoint(1080px) {
    width: 100%;
  }

  h2 {
    @include rem-calc(font-size, 3.5);
    margin: 0;
    font-family: $header_font;
  }
}
.placeholder {
  @include rem-calc(height, 72.5);
  background: transparent image-url("house.jpg") center top no-repeat;
  background-size: cover;
  // background-size: 100% auto;
  background-attachment: fixed;
  color: #FFF;
  
  &.banner_two {
    background-image: image-url("rsvp.jpg");
  }
}



/*
 *  Footer Section
 **/
footer {
  @include rem-calc(margin-top, 2.5);
  @include rem-calc(padding-top, 4.5);
  background: transparent image-url("bg_skyline_small.png") center top no-repeat;
  text-align: center;
  
  @include breakpoint(small) {
    @include rem-calc(padding-top, 9.5);
    background-image: image-url("bg_skyline.png");
  }

  p {
    @include rem-calc(padding, 1.5, 0);
    margin: 0;
    background: $blue;
    color: #fff;
    // background: shade($blue_light, 5%);
    // background: tint($purple, 10%);
  }
}
