            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content">
                <h3>Engagement Photo Shoot</h3>
                <p>All photos were taken by <a href="http://www.bmillerweddings.com/" target="_blank">Bryan N Miller Photography</a>.</p>
                <div class="flexible_video_wrap">
                    <iframe src="//www.youtube.com/embed/VYJDWij3ZQg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="section_breaker">&nbsp;</div>
