            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content">
                <h3>GIFTS</h3>
                <p>Click on the logos below to view our registries.</p>
            </div>
            <div class="content column3">
                <div class="column brand_logo anthrolopogie">
                    <a href="https://www.anthropologie.com/anthro/wishlist/wishlist.jsp?_DARGS=/anthro/wishlist/gift_list_search_results_vwr.jsp_A&_DAV=gl_PHL1884956057&_dynSessConf=3523337116963154710" title="Anthropologie" target="_blank">
                    <img src="{{ url_for('static', filename='img/anthropologie.svg') }}" alt="Anthropologie Logo" />
                    </a>
                </div>
                <div class="column brand_logo bed_bath_beyond">
                    <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13672721&pwsurl=" title="Bed Bath and Beyond" target="_blank">
                        <img src="{{ url_for('static', filename='img/bed_bath_beyond.svg') }}" alt="Bed Bath and Beyond Logo" />
                    </a>
                </div>
                <div class="column brand_logo target">
                    <a href="http://www.target.com/GiftRegistrySearchViewCmd?registryType=WD&jsRequest=true&catalogId=10051&status=completePage&cumulativeTime=-1&listId=MDSwrpziGBvZ4XqhVHCRjg&noOfPings=&registryFirstName=jennifer&langId=-1&segmentGrpName=J&storeId=10151&registryLastName=avery" title="Target" target="_blank">
                        <img src="{{ url_for('static', filename='img/target.svg') }}" alt="Target Logo" />
                    </a>
                </div>
            </div>
            <div class="section_breaker">&nbsp;</div>
