            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content column2 no_pad_bottom">
                <div class="column">
                    <h3>CEREMONY &amp; RECEPTION</h3>
                    <ul>
                        <li class="em_text">November 4th, 2013 at 4:00pm</li>
                        <li>San Diego Botanic Garden</li>
                        <li>Cocktail hour &amp; dinner reception immediately following</li>
                        <li class="footnote">*Ceremony and reception will both be held outdoors. Bring sleeves for cooler evening temperatures.</li>
                    </ul>
                    <h3>DIRECTIONS</h3>
                    <p>From I-5 (North or South) take the Encinitas Blvd exit EAST. Stay on Encinits Blvd for 0.4 miles and then turn LEFT on Quail Gardens Dr. In 0.4 miles, the Botanic Garden entrance will be on the left.</p>
                    <ul class="venue_address">
                        <li>230 Quail Gardens Dr.</li>
                        <li>Encinitas, CA 92024</li>
                        <li>(760) 436-3036</li>
                    </ul>
                </div>

                <div id="venue-map" class="column map">
                    <img src="http://api.tiles.mapbox.com/v3/danielwrobert.hlj7i5ej/pin-l-heart+75869c(-117.28010416030882,33.05236045436554)/-117.281,33.052,16/471x300.png" alt="Venue Location">
                    <!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=214070405663669517593.0004e45aa618fd387160f&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=33.052001,-117.279192&amp;spn=0.002698,0.004828&amp;z=15&amp;output=embed"></iframe>-->
                </div>
            </div>
            <div class="section_breaker">&nbsp;</div>
