            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content column2 no_pad_bottom">
                <div class="column">
                    <h3>TRAVEL</h3>
                    <p>The closest airport is <span class="em_text">San Diego International Airport</span>, located in downtown San Diego. Encinitas is approximately 25 minutes North of the airport.</p>
                    <p>Other nearby airports include John Wayne Airport in Orange County and Los Angeles International Airport.</p>
                    <div id="airport-map" class="map">
                        <img src="http://api.tiles.mapbox.com/v3/danielwrobert.hlj7i5ej/pin-l-airport+75869c(-117.19365119934083,32.73393472070151),pin-l-airport+75869c(-117.86798000335693,33.67428281969887),pin-l-airport+75869c(-118.4043788909912,33.94335994657882)/-117.967,33.467,7/471x300.png" alt="Venue Location">
                        <!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=214070405663669517593.0004e56e78ae0248e14af&amp;ie=UTF8&amp;ll=33.337337,-117.802787&amp;spn=1.210051,1.210737&amp;t=m&amp;z=7&amp;output=embed"></iframe>-->
                    </div>
                </div>
                <div class="column">
                    <h3>LODGING</h3>
                    <p>For our out of town guests, below is a list of nearby hotels:</p>
                    <ul>
                        <li class="price_group"><span>$$</span></li>
                        <li><a href="http://www.hojo.com/hotels/california/encinitas/howard-johnson-encinitas-near-legoland-area/hotel-overview" target="_blank">Howard Johnson - Encinitas</a> (1.7 miles from wedding venue)</li>
                        <li><a href="http://www.econolodgeencinitas.net/" target="_blank">Econo Lodge - Encinitas</a> (2.5 miles to wedding venue)</li>
                    </ul>

                    <ul>
                        <li class="price_group"><span>$$$</span></li>
                        <li><a href="http://book.bestwestern.com/bestwestern/US/CA/Encinitas-hotels/BEST-WESTERN-Encinitas-Inn---Suites-at-Moonlight-Beach/Hotel-Overview.do?propertyCode=05592" target="_blank">Best Western - Encinitas</a> (1.7 miles from wedding venue)</li>
                        <li><a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/cardiff-by-the-sea/sancc/hoteldetail" target="_blank">Holiday Inn Express - Cardiff-by-the-Sea</a> (3.8 miles from wedding venue)</li>
                        <li><a href="http://hamptoninncarlsbad.com/" target="_blank">Hampton Inn - Carlsbad</a> (6.9 miles from wedding venue)</li>
                        <li><a href="http://www.marriott.com/hotels/travel/sancs-courtyard-san-diego-carlsbad-mcclellan-palomar-airport/" target="_blank">Courtyard Marriott - Carlsbad</a> (6.9 miles from wedding venue)</li>
                        <li><a href="http://hiltongardeninn3.hilton.com/en/hotels/california/hilton-garden-inn-carlsbad-beach-SANCHGI/index.html" target="_blank">Hilton - Carlsbad</a> (8.4 miles from wedding venue)</li>
                        <li><a href="http://www.sheratoncarlsbad.com/" target="_blank">Sheraton - Carlsbad</a> (8.5 miles from wedding venue)</li>
                    </ul>

                    <ul>
                        <li class="price_group"><span>$$$$</span></li>
                        <li><a href="http://www.lacosta.com/" target="_blank">La Costa Resort - Carlsbad</a> (3.6 miles from wedding venue)</li>
                        <li><a href="http://parkaviara.hyatt.com/en/hotel/home.html" target="_blank">Hyatt - Aviara Carlsbad</a> (6.4 miles from wedding venue)</li>
                    </ul>
                    <p>If none of these suit your needs, the closest towns to the wedding venue are <a href="http://www.tripadvisor.com/Tourism-g32355-Encinitas_California-Vacations.html" target="_blank">Encinitas</a>, <a href="http://www.tripadvisor.com/Tourism-g32171-Carlsbad_California-Vacations.html" target="_blank">Carlsbad</a> and <a href="http://www.tripadvisor.com/Tourism-g33101-Solana_Beach_California-Vacations.html" target="_blank">Solana Beach</a></p>
                </div>
            </div>
            <div class="section_breaker">&nbsp;</div>
