            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content">
                <h3>Join Us!</h3>
                <p>Please RSVP via the form below. You can also email us at <a href="mailto:rsvp@danandjen.us">rsvp@danandjen.us</a>. We hope to see you there! <em>(* Required Fields)</em></p>
                <form class="rsvp_form" action="" method="POST">
                    <p>
                        <label for="name">Name *</label>
                        <input type="text" name="name" placeholder="Willy Wonka">
                    </p>
                    <p>
                        <label for="email">Email Address *</label>
                        <input type="email" name="email" placeholder="willy@wonka.com">
                    </p>
                    <p>
                        <label for="code">Entry Code *</label>
                        <input type="code" name="code">
                    </p>
                    <p>
                        <label for="attending">Attending? *</label>
                        <span class="sub_label">Yes </span><input type="radio" name="attending" value="yes" checked="checked">
                        <span class="sub_label">No </span><input type="radio" name="attending" value="no">
                    </p>
                    <p>
                        <label for="diet">Dietary Restrictions</label>
                        <input type="diet" name="diet" placeholder="Vegetarian, Vegan, Gluten-Free, Allergies, etc." list=>
                        <datalist id="diet_list">
                            <option value="None">
                            <option value="Vegetarian">
                            <option value="Vegan">
                            <option value="Gluten-Free">
                        </datalist>
                    </p>
                    <p>
                        <label for="message">Message</label>
                        <textarea name="message"></textarea>
                    </p>
                    <p>
                        <!-- <input type="submit" name="action" value="submit"> -->
                        <button type="submit" name="action" value="submit">submit</button>
                    </p>
                </form>
            </div>
            <div class="section_breaker">&nbsp;</div>
