            <div class="tiny_hearts"><img src="{{ url_for('static', filename='img/tiny_hearts.svg') }}" alt="Tiny Hearts"></div>
            <div class="content welcome">
                <h3>WELCOME</h3>
                <p>We can't wait to share our big day with y'all! We are so blessed to have the greatest friends and family! Hope to see you <span class="em_text">November 4th</span>. Until then, please enjoy exploring our site. Thanks for stopping by and don't forget to RSVP!</p>
            </div>
            <div class="content column2">
                <div class="column">
                    <img src="{{ url_for('static', filename='img/jen.jpg') }}" alt="Jen Avery">
                    <h3>THE BRIDE</h3>
                    <p>Born and raised in Greenville, SC. Jen is a nanny who is obsessed with chocolate, travel, yoga and Clemson Football. Most of all she enjoys adventuring with Dan.</p>
                </div>
                <div class="column">
                    <img src="{{ url_for('static', filename='img/dan.jpg') }}" alt="Dan Robert">
                    <h3>THE GROOM</h3>
                    <p>Born and raised outside of Detroit, MI. Dan is a coffee-addicted Web developer who loves code, design, surfing and playing outside. Most of all he enjoys adventuring with Jen.</p>
                </div>
            </div>
            <div class="content">
                <h3>HOW WE MET</h3>
                <p>Dan and Jen began talking by accident, really. In late 2008 Jen was living in Encinitas, while Dan was living in Pacific Beach (brah!). Jen moved away to live in Europe just as Dan moved up to Encinitas where he fell into the same group of friends as Jen, just missing her.</p>
                <p>A couple of years later Dan mistook Jen (who was then living in South Carolina) for a high school friend on Facebook and sent her a friend request.  She accepted, noticing that they had so many mutual friends in California. A short time after that, without any further contact, Dan posted his voice-over demo on Facebook. Jen was impressed by it and this got the two talking.</p>
                <p>After several months of chatting, emailing and trips between South Carolina and California, they decided to take a chance to see where things would go. Jen made the move back to San Diego where she moved in with a couple of mutual friends. Right next door to Dan.</p>
                <p>On their two-year anniversary, Dan proposed. Things couldn't have worked out any better … now they're gettin' hitched!</p>
            </div>
            <div class="section_breaker">&nbsp;</div>
